{% extends "base.html" %}

{% block content %}

<div class="form-card">

    <h2 class="title">
        ➕ Add Task
    </h2>

    <p class="subtitle">
        Course: {{ course.name }}
    </p>

    <form method="POST">

        <label>Task Title</label>

        <input
            type="text"
            name="title"
            placeholder="Enter task title..."
            required>

        <br><br>

        <label>Task Date</label>

        <input
            type="date"
            name="due_date"
            required>

        <br><br>

        <button
            type="submit"
            class="btn green">

            Add Task

        </button>

    </form>

</div>

{% endblock %}